OQAMain/Connected Services/CallService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfService/WcfService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFModels.Message" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfService/WcfService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Models.Message" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFModels.Message" minOccurs="0" name="loginReq" nillable="true" type="q1:LoginReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Models.Message" minOccurs="0" name="LoginResult" nillable="true" type="q2:ModelListRspOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryControlAccessString">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Models.Message" minOccurs="0" name="queryReq" nillable="true" type="q3:QueryReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryControlAccessStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Models.Message" minOccurs="0" name="QueryControlAccessStringResult" nillable="true" type="q4:ModelListRspOfControlAccessStringf1ACQ2Mn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryEmpInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFModels.Message" minOccurs="0" name="queryEmpReq" nillable="true" type="q5:QueryEmpReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryEmpInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Models.Message" minOccurs="0" name="QueryEmpInfoResult" nillable="true" type="q6:PageModelRspOfEmpf1ACQ2Mn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryEmpPercent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Models.Message" minOccurs="0" name="queryReq" nillable="true" type="q7:QueryReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryEmpPercentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Models.Message" minOccurs="0" name="QueryEmpPercentResult" nillable="true" type="q8:ModelListRspOfCEmpPercentViewf1ACQ2Mn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryEmpSum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Models.Message" minOccurs="0" name="queryReq" nillable="true" type="q9:QueryReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryEmpSumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Models.Message" minOccurs="0" name="QueryEmpSumResult" nillable="true" type="q10:ModelListRspOfCEmpSumViewf1ACQ2Mn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmpInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Models.Message" minOccurs="0" name="updateReq" nillable="true" type="q11:UpdateModelListReqOfEmpf1ACQ2Mn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmpInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Models.Message" minOccurs="0" name="UpdateEmpInfoResult" nillable="true" type="q12:ModelListRspOfEmpf1ACQ2Mn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDemoInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Models.Message" minOccurs="0" name="updateReq" nillable="true" type="q13:UpdateModelReqOfDemoViewGPUP1COi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDemoInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Models.Message" minOccurs="0" name="UpdateDemoInfoResult" nillable="true" type="q14:ModelRspOfDemoViewGPUP1COi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>