OQA_Core/Connected Services/OQAService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFModels.MESDB.FWTST1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFModels.MESDB.FWTST1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Emp" nillable="true" type="tns:Emp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmp" nillable="true" type="tns:ArrayOfEmp" />
  <xs:complexType name="Emp">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BasicOrg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BasicPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChineseTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeptCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeptName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DirManager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EDeptName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EEmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnglishTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtensionNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RcdDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RepEmpno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Emp" nillable="true" type="tns:Emp" />
  <xs:complexType name="ArrayOfCEmpPercentView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CEmpPercentView" nillable="true" type="tns:CEmpPercentView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCEmpPercentView" nillable="true" type="tns:ArrayOfCEmpPercentView" />
  <xs:complexType name="CEmpPercentView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseView">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEmpPercentView" nillable="true" type="tns:CEmpPercentView" />
  <xs:complexType name="CBaseView">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CBaseView" nillable="true" type="tns:CBaseView" />
  <xs:complexType name="ArrayOfCEmpSumView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CEmpSumView" nillable="true" type="tns:CEmpSumView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCEmpSumView" nillable="true" type="tns:ArrayOfCEmpSumView" />
  <xs:complexType name="CEmpSumView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CBaseView">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CEmpSumView" nillable="true" type="tns:CEmpSumView" />
  <xs:complexType name="ArrayOfRmsUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RmsUser" nillable="true" type="tns:RmsUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRmsUser" nillable="true" type="tns:ArrayOfRmsUser" />
  <xs:complexType name="RmsUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dept" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Intime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Lastcompname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lastlogin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Lastpwdchange" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Lastversion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Logincount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usergroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Userid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RmsUser" nillable="true" type="tns:RmsUser" />
</xs:schema>