OQA_Core/Connected Services/OQAService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfQueryCondition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueryCondition" nillable="true" type="tns:QueryCondition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueryCondition" nillable="true" type="tns:ArrayOfQueryCondition" />
  <xs:complexType name="QueryCondition">
    <xs:sequence>
      <xs:element minOccurs="0" name="compareType" type="tns:CompareType" />
      <xs:element minOccurs="0" name="conditionType" type="tns:LogicCondition" />
      <xs:element minOccurs="0" name="paramName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryCondition" nillable="true" type="tns:QueryCondition" />
  <xs:simpleType name="CompareType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GreaterThan" />
      <xs:enumeration value="GreaterThanOrEqual" />
      <xs:enumeration value="LessThan" />
      <xs:enumeration value="LessThanOrEqual" />
      <xs:enumeration value="Include" />
      <xs:enumeration value="NotEqual" />
      <xs:enumeration value="Equal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CompareType" nillable="true" type="tns:CompareType" />
  <xs:simpleType name="LogicCondition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AndAlso" />
      <xs:enumeration value="OrElse" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LogicCondition" nillable="true" type="tns:LogicCondition" />
  <xs:complexType name="ArrayOfSortCondition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SortCondition" nillable="true" type="tns:SortCondition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSortCondition" nillable="true" type="tns:ArrayOfSortCondition" />
  <xs:complexType name="SortCondition">
    <xs:sequence>
      <xs:element minOccurs="0" name="paramName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sortType" type="tns:SortType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SortCondition" nillable="true" type="tns:SortCondition" />
  <xs:simpleType name="SortType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ASC" />
      <xs:enumeration value="DESC" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SortType" nillable="true" type="tns:SortType" />
</xs:schema>