OQA_Core/Connected Services/OQAService/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFModels.OQA" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFModels.OQA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/OQAService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/OQAService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFModels.Message" />
  <xs:complexType name="DefectCodeView">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/WCFModels.Message" base="q1:BaseRsp">
        <xs:sequence>
          <xs:element minOccurs="0" name="ISPDFTDEF_list" nillable="true" type="tns:ArrayOfISPDFTDEF" />
          <xs:element minOccurs="0" name="c_proc_step" type="ser:char" />
          <xs:element minOccurs="0" name="c_tran_flag" type="ser:char" />
          <xs:element minOccurs="0" name="in_isp_code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="in_isp_type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DefectCodeView" nillable="true" type="tns:DefectCodeView" />
  <xs:complexType name="ArrayOfISPDFTDEF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ISPDFTDEF" nillable="true" type="tns:ISPDFTDEF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfISPDFTDEF" nillable="true" type="tns:ArrayOfISPDFTDEF" />
  <xs:complexType name="ISPDFTDEF">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateUserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefectCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DftDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InspectType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransSeq" type="xs:decimal" />
      <xs:element minOccurs="0" name="UpdateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateUserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ISPDFTDEF" nillable="true" type="tns:ISPDFTDEF" />
</xs:schema>