OQA_Core/Connected Services/OQAService/OQAService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OQAService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/OQAService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/OQAService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/OQAService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFModels.Message" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/OQAService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFModels" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/OQAService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WCFModels.MESDB.FWTST1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOQAContract_QueryEmpInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryEmpInfo" />
  </wsdl:message>
  <wsdl:message name="IOQAContract_QueryEmpInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryEmpInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IOQAContract_QueryEmpPercent_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryEmpPercent" />
  </wsdl:message>
  <wsdl:message name="IOQAContract_QueryEmpPercent_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryEmpPercentResponse" />
  </wsdl:message>
  <wsdl:message name="IOQAContract_QueryEmpSum_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryEmpSum" />
  </wsdl:message>
  <wsdl:message name="IOQAContract_QueryEmpSum_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryEmpSumResponse" />
  </wsdl:message>
  <wsdl:message name="IOQAContract_UpdateEmpInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmpInfo" />
  </wsdl:message>
  <wsdl:message name="IOQAContract_UpdateEmpInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmpInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IOQAContract_UpdateDemoInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDemoInfo" />
  </wsdl:message>
  <wsdl:message name="IOQAContract_UpdateDemoInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDemoInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IOQAContract">
    <wsdl:operation name="QueryEmpInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IOQAContract/QueryEmpInfo" message="tns:IOQAContract_QueryEmpInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOQAContract/QueryEmpInfoResponse" message="tns:IOQAContract_QueryEmpInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryEmpPercent">
      <wsdl:input wsaw:Action="http://tempuri.org/IOQAContract/QueryEmpPercent" message="tns:IOQAContract_QueryEmpPercent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOQAContract/QueryEmpPercentResponse" message="tns:IOQAContract_QueryEmpPercent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryEmpSum">
      <wsdl:input wsaw:Action="http://tempuri.org/IOQAContract/QueryEmpSum" message="tns:IOQAContract_QueryEmpSum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOQAContract/QueryEmpSumResponse" message="tns:IOQAContract_QueryEmpSum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmpInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IOQAContract/UpdateEmpInfo" message="tns:IOQAContract_UpdateEmpInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOQAContract/UpdateEmpInfoResponse" message="tns:IOQAContract_UpdateEmpInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDemoInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IOQAContract/UpdateDemoInfo" message="tns:IOQAContract_UpdateDemoInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOQAContract/UpdateDemoInfoResponse" message="tns:IOQAContract_UpdateDemoInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOQAContract" type="tns:IOQAContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryEmpInfo">
      <soap:operation soapAction="http://tempuri.org/IOQAContract/QueryEmpInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryEmpPercent">
      <soap:operation soapAction="http://tempuri.org/IOQAContract/QueryEmpPercent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryEmpSum">
      <soap:operation soapAction="http://tempuri.org/IOQAContract/QueryEmpSum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmpInfo">
      <soap:operation soapAction="http://tempuri.org/IOQAContract/UpdateEmpInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDemoInfo">
      <soap:operation soapAction="http://tempuri.org/IOQAContract/UpdateDemoInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OQAService">
    <wsdl:port name="BasicHttpBinding_IOQAContract" binding="tns:BasicHttpBinding_IOQAContract">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/OQAService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>