WcfClientCore/Connected Services/WcfService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFModels.Message" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFModels.Message" minOccurs="0" name="loginReq" nillable="true" type="q1:LoginReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFModels.Message" minOccurs="0" name="LoginResult" nillable="true" type="q2:ModelListRspOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryControlAccessString">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFModels.Message" minOccurs="0" name="queryReq" nillable="true" type="q3:QueryReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryControlAccessStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFModels.Message" minOccurs="0" name="QueryControlAccessStringResult" nillable="true" type="q4:ModelListRspOfControlAccessStringf1ACQ2Mn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PageQueryControlAccessString">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFModels.Message" minOccurs="0" name="pageQueryReq" nillable="true" type="q5:PageQueryReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PageQueryControlAccessStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFModels.Message" minOccurs="0" name="PageQueryControlAccessStringResult" nillable="true" type="q6:PageModelRspOfControlAccessStringf1ACQ2Mn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateControlAccessString">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFModels.Message" minOccurs="0" name="updateReq" nillable="true" type="q7:UpdateModelReqOfControlAccessStringf1ACQ2Mn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateControlAccessStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFModels.Message" minOccurs="0" name="UpdateControlAccessStringResult" nillable="true" type="q8:ModelRspOfControlAccessStringf1ACQ2Mn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>