WcfClientCore/Connected Services/WcfService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFModels.MESDB.FWTST1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFModels.MESDB.FWTST1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfControlAccessString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ControlAccessString" nillable="true" type="tns:ControlAccessString" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfControlAccessString" nillable="true" type="tns:ArrayOfControlAccessString" />
  <xs:complexType name="ControlAccessString">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ControlID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ControlAccessString" nillable="true" type="tns:ControlAccessString" />
</xs:schema>